{% extends 'base.html' %}

{% block title %}Сменить пароля{% endblock %}

{% block content %}
    <div class="container container--form">
        <h1 class="heading heading--centered container__heading">Сменить пароль</h1>
        <form class="form" method="POST" action="{{ route('change_password.store', {'token': token}) }}">
            {{ csrf_field }}
            @if session().has('success'):
                <div>
                    <ul>
                        @for key, success_list in session().get('success').items():
                            @for success in success_list
                                <li>{{ success }}</li>
                            @endfor
                        @endfor
                    </ul>
                </div>
            @endif
            @if bag().any()
                <div class="form-messages">
                    <ul class="form-messages__list">
                        @for message in bag().messages()
                            <li class="form-messages__message">{{ message }}</li>
                        @endfor
                    </ul>
                </div>
            @endif
            <input class="input form__input" name="password" type="password" placeholder="Пароль">
            <button class="button button-fullwidth form__submit">Сменить пароль</button>
            <a class="button button--text button-fullwidth" href="/tasks">Назад</a>
        </form>
    </div>
{% endblock %}