{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
     <div class="container container--form">
        <h1 class="heading heading--centered container__heading">Восстановить пароль</h1>
        <form class="form" method="POST" action="{{ route('password_reset.store') }}">
            {{ csrf_field }}
            @if session().has('success'):
                <div class="form-messages">
                    <ul class="form-messages__list">
                        @for key, success_list in session().get('success').items():
                            @for success in success_list
                                <li class="form-messages__message form-messages__message--success">{{ success }}</li>
                            @endfor
                        @endfor
                    </ul>
                </div>
            @endif
            @if bag().any()
                <div class="form-messages">
                    <ul class="form-messages__list">
                        @for message in bag().messages()
                            <li class="form-messages__message">{{ message }}</li>
                        @endfor
                    </ul>
                </div>
            @endif
            <input class="input form__input" name="email" type="email" placeholder="Email">
            <button class="button button-fullwidth form__submit">Восстановить</button>
            <a class="button button--text button-fullwidth" href="/tasks">Назад</a>
        </form>
    </div>
{% endblock %}